h1 {
  text-align: center
}

input {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
}

#taskHolder {
  margin: auto;
  margin-top: 10px;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
.task {
  margin: auto;
  margin-bottom: 10px;
  width: fit-content;
  border: 3px solid green;
  padding: 10px;
}